.navbar_container {
  background-color: $main;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: linear-gradient(-45deg, $main, #1259f3, #23a6d5, #82cffc);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  gap: 25px;
  position: relative;

  .backHome {
    position: absolute;
    top: 37%;
    left: 4%;
    i {
      font-size: 28px;
      color: white;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
