.search-box {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  z-index: 20;

  input {
    height: 50px;
    border-radius: 50px;
    border: none;
    width: 100%;
    padding: 12px;

    &:focus {
      outline: none;
    }
  }

  .search-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1.5%;
    background-color: $main;
    color: white;
    font-size: 18px;
    outline: none;
  }
}
